<!DOCTYPE html>
<head>
    <title>
        HOME
    </title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/images/weather.png">
    
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>We are {{company}}</h1>
    </div>
   
    {{>footer}}
</body>
</html>