<!DOCTYPE html>
<head>
    <title>
        HELP
    </title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/images/weather.png">
    
</head>
<body>
    <div class="main-content">
        {{>header}}   
    <h1>Hello {{name}} do you need any help?</h1>
    </div>
    
    {{>footer}}
</body>
</html>